$primary: rgb(0, 90, 255);
$danger: rgb(240, 75, 60);
$warning: rgb(255, 200, 50);
$success: rgb(110, 240, 50);
$lightgrey: lightgrey;

$colors: $primary, $danger $warning, $success, white, lightgrey, black;
$colors-map: (
    "primary": $primary,
    "danger": $danger,
    "warning": $warning,
    "success": $success,
    "white": white,
    "lightgrey": lightgrey,
    "black": black
);

$round: 0.5em;
$max-int: 99999;
$navbar-height: 3em;
$short-transition: 0.25s;
$medium-transition: 0.5s;
$long-transition: 1s;
$large-transition: 2s;

$heading-1-size: 2em;
$heading-2-size: 1.5em;
$heading-3-size: 1.17em;
$heading-4-size: 1em;
$heading-5-size: .83em;
$heading-6-size: .67em;
$text-size: 1em;

$border-size-1: 3px;
$border-size-2: 2px;
$border-size-3: 1px;

$section-padding: 1em;
$section-margin: .5em;
$box-padding: .5em;
$mini-padding: .25em;

* {
    font-family: "Lexend", sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.section {
    padding: $section-padding;
    margin: $section-margin;
}

hr {
    border: none;
    border-top: $lightgrey solid $border-size-2;
}